@model List<CarViewModel>
@{
    ViewData["Title"] = "GetAllCars";
}

<h2>GetAllCars</h2>

<!--Iteracja po wszystkich elementach listy-->
@foreach(var car in Model)
{
    <div>
        <h2>@car.Model</h2>
        <h4>Producent: @car.Manufacturerr </h4>
        <h4>Cena: @car.Price</h4>
        <img src="@Url.Content(car.Photo)" alt="@car.Model"/>
        <hr />
    </div>
}